.background{
    position: relative;
    width: 100%;
    height: 100vh;
}

.background_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;

}


.bg-cp{
    background-color: #d3d3d3;
    margin-bottom: 20%;
    width: 1550px;
}

.fs-7{
    font-size: 15px;
}

.fs-8{
    font-size: 13px; ;
}

.inp-width{
    width: 240px;
}

.inp-height{
    height: 52px;
}

.traveller-width{
    width: 150px;
}